@{
    ViewData["Title"] = "Icons and Dialogs";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

</body>
<div class="content">
    <h2>Icons</h2>

</div>


</html>
